<div class="header">
  <!-- titulo epicardo games -->
  <div class="titleContainer">
    <h1 class="title">{{ title }}</h1>
  </div>

  <!-- logotipo de epicardogames -->
  <div class="epicardoLogoContainer">
    <img class="epicardoLogo" src="../../../assets/images/epicardoLogo.jpeg" alt="epicardogames.com Logo">
  </div>
  <div class="navigationMenu">
    <menu >
      <ul>
        <li>
          <a href="../pages/homePage/home-page.component.html">Home</a>
        </li>
        <li>
          <a href="../pages/communityPage/community-page.component.html">Comunidad</a>
        </li>
        <li>
          <a href="../pages/reviewPage/review-page.component.html">Reseña</a>
        </li>
      </ul>
    </menu>
  </div>



</div>

