  /* header */
  .menu{
    background-color: rgb(63, 62, 62);
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /* titulo epicardogames.com */
  .title{
    margin-left: 30px;
    color: white;
    font-size: 100%;
    font-weight: lighter;
  }
  /* logotipo de epicardogames */
  .epicardoLogo{
    width: auto;
    height: 80%;
    border-radius: 50%;
    lign-content: center;
  }
  .menuItems{
    display: flex;
    margin-right: 30px;
  }
  .items{

  }
  mat-icon{
    display: none;
  }
  .button {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: #ffffff linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    outline: 0;
  }
  .activebutton {
    box-shadow: inset 0px 1px 0px 0px #dcecfb;
    background: #bddbfa linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
    border-radius: 6px;
    border: 1px solid #84bbf3;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #528ecc;
    outline: 0;
  }
  .mat-nav-list .home{
    color: white;
  }
  .mat-nav-list .community{
    color: white;
  }
  .mat-nav-list .review{
    color: white;
  }
  .mat-nav-list .login{
    color: white;

  }

  @media screen and (max-width: 900px) {
    .menu{
      height: 75px;
      width: 100vw;

      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .epicardoLogo{
      width: auto;
      height: 80%;
      align-content: center;
      border-radius: 50%;
    }
    mat-icon{
      display: inline;
      margin-right: 30px;
      color: white;
    }
    mat-nav-list{
      display: none;
    }
  }
