<div class="menu">
    <!--Titulo-->
    <label class="title">{{title}}</label>

    <!--Logo-->
    <img class="epicardoLogo" src="../../assets/images/epicardoLogo.jpeg" alt="">

    <!--Menu de navegacion-->
  <mat-nav-list>
    <a class="home" routerLink="history" style="padding: 10px 20px; width:100px; height:100px"
       onMouseover="this.style.color='#ff6961'" onMouseout="this.style.color='white'">Home</a>

    <a class="community" routerLink="communityPage" style="padding: 10px 20px; width:100px; height:100px"
       onMouseover="this.style.color='#ff6961'" onMouseout="this.style.color='white'">Comunidad</a>

    <a class="review" routerLink="reviewPage" style="padding: 10px 20px; width:100px; height:100px"
       onMouseover="this.style.color='#ff6961'" onMouseout="this.style.color='white'">Puntuar</a>

    <a class="login" routerLink="loginPage" style="padding: 10px 20px; width:100px; height:100px"
       onMouseover="this.style.color='#ff6961'" onMouseout="this.style.color='white'" >Log Out</a>

  </mat-nav-list>
  <mat-icon>menu</mat-icon>

</div>
<router-outlet></router-outlet>
<footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-e182">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
  <p class="u-small-text u-text u-text-variant u-text-1">Todos los derechos reservados.</p>
</div></footer>
