.container{
  background-color: #542a85;
  display: grid;
  justify-items: center;
  grid-template-columns: auto ;
  padding: 10px;


}
h2{
  font-weight: bold;
}
.resenias{
  margin-top: 20px;
  background-color: white;
  width: 90%;
  border-radius: 5px;
  padding-left: 20px;

}
