.container{
  background-color: #542a85;
  text-align: center;
}
.title{
  color: white;
  font-weight: bold;
}
.mat-form-field {
  justify-content: center;
  background-color: #79369a;
  width: 80%;
  height: auto;
  text-align: center;
  border-radius: 10px;
  margin-top: 10px;
}
.userNameInput{
  border-radius: 8px;
  margin-top: 25px;
  width: 90%;
  height: 35px;
}
.gameNameInput{
  width: 47%;
  border-radius: 8px;
  margin-top: 8px;
  height: 35px;
}
.userRatingInput{
  width: 42%;
  border-radius: 8px;
  margin-top: 8px;
  height: 35px;
}
.descriptionInput{
  justify-items: center;
  justify-self: center;
  border-radius: 8px;
  margin-top: 8px;

}
.formulario{
  justify-items: center;
  text-align: center;
  border-radius: 8px;
  margin-top: 8px;
  width: 90%;
  height: 28%;
  background-color: #880fc4;
  margin-left: 5%;
}
.submitButton{
  width: 20%;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  background-color: cornflowerblue;
  border-radius: 8px;
}
