<body class="container">
  <!--header/layout-->
  <app-layout></app-layout>

  <!--contendedor de titulo y titulo-->
  <div class="titleContainer">
    <label class="title"><h1>{{titulo}}</h1></label>
  </div>
  <!--contenedor de inputs-->
  <mat-form-field style="justify-content: center" appearance="fill">

    <p><input class="userNameInput" type="text" placeholder="NOMBRE DE USUARIO"></p>
    <p><input class="gameNameInput" type="text" placeholder="TITULO DEL JUEGO">
    <input class="userRatingInput" type="text" placeholder="CALIFICAR"> </p>

      <textarea class="descripción"></textarea>
    </mat-form-field>

    <p><input class="submitButton" type="submit" value="Submit"></p>

</body>

